---
http_interactions:
- request:
    method: get
    uri: http://web.archive.org/web/timemap/link/zerohedge.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/link-format;charset=ISO-8859-1
      X-Archive-Wayback-Perf:
      - '{"RobotsFetchTotal":1,"RobotsRedis":1,"RobotsTotal":3,"Total":230}'
      X-Archive-Playback:
      - '0'
      X-Page-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |-
        <http://zerohedge.com>; rel="original",
        <http://web.archive.org/web/timemap/link/http://zerohedge.com>; rel="self"; type="application/link-format"; from="Fri, 13 Feb 2009 10:34:31 GMT"; until="Fri, 11 Nov 2016 06:13:08 GMT",
        <http://web.archive.org/web/http://zerohedge.com>; rel="timegate",
        <http://web.archive.org/web/20090213103431/http://www.zerohedge.com/>; rel="first memento"; datetime="Fri, 13 Feb[...]
